@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@font-face {
  font-family: "TheSeasons";
  src: url(./fonts/The\ Seasons\ Light.ttf);
}
@font-face {
  font-family: "Minion";
  src: url(./fonts/MinionDisplayRegular.otf);
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./img/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}
/* *Header */

header {
  display: flex;
  width: 100%;
  height: 10%;
  position: absolute;
  margin-top: 20px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1e1e1e50;
  justify-content: space-between;
}

header nav a {
  display: flex;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-family: "Minion";
}
header nav {
  display: flex;
  align-items:center;
  align-content: flex-end;
  justify-content: space-between;
  gap: 20px;
}

header .Logo {
  transform: scale(4);
  display: flex;
  margin-left: 8%;
  margin-top: 1%;
  margin-bottom: 1%;
 }

/* *main */

main {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "TheSeasons";
  
}
.Comprar {
  width: 150px;
  height: 40px;
  display: flex;
  position: absolute;
  margin-top: 115px;
  margin-left: 3px;
  border: solid 1.5px white;
  border-radius: 2px;
  font-family: "Minion";
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  color: white;
}
/* *Inicio */
.inicio {
  display: flex;
  flex-direction: column;

}
.inicio .inicioTexto {
  width: 100%;
  position: absolute;
}
.inicio img {
  max-width: 100%;
  height: auto;
}
.inicio h1 {
  font-size: 90px;
  color: white;
  font-family: "TheSeasons";
  font-weight: lighter;
  display: flex;
  text-shadow: 3px 3px 8px black;
  position: absolute;
  margin-top: 90px;
  margin-left: 80px;
}

.inicio .inicioAbajo {
  font-size: 90px;
  color: white;
  font-family: "TheSeasons";
  font-weight: lighter;
  text-shadow: 3px 3px 8px black;
  display: flex;
  position: absolute;
  margin-top: 170px;
  margin-left: 420px;
}

.inicio .texto {
  font-size: 15px;
  color: white;
  font-family: "Minion";
  font-weight: lighter;
  line-height: 1.5;
  display: flex;
  position: absolute;
  margin-top: 205px;
  margin-left: 80px;
}

/* Lo mas destacado */

.productosSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
.productosSection h2 {
  display: flex;
  text-align: initial;
  margin-left: -20%;
  font-weight: 100;
  font-size: 40px;
}

.productosSection .titleBar{
    display: flex;
    align-items: center;
    justify-content: initial;
    justify-content:space-around;
    justify-self: center;
    width: 100%;
}
.titleClock{
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleClock p{
  color: rgb(255, 196, 108);
}
.titleClock i{
  color: rgb(255, 196, 108);
  font-size: 2rem;
  margin-right: 1vw;
}

/** tarjetas  */
.productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.contenedorProducto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.tarjeta{
  background-color: rgb(53, 53, 53);
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  margin: .5rem;
  height: 60vh;
  width: 20vw;
  padding-bottom: 2rem;
  border-radius: 10px;
  flex-basis: 20%;

}
.tarjeta img{
  height: 70%;
  -webkit-filter: drop-shadow(0 0 10px #000000);
  filter: drop-shadow(0 0 10px #000000);
  opacity: .7;
  transition: 0.2s;
}
.tarjeta h3{
  font-size: 1.3rem;
  font-family: 'TheSeasons';
  text-align: center;
  font-weight: 100;
}
.tarjeta p{
  font-size: 1.5rem;
  font-family: 'TheSeasons';
  font-weight: 100;
  margin-top: .5rem;
}
.tarjeta button{
  background-color: #ff565600;
  color: white;
  font-size: 1rem;
  font-family: 'TheSeasons';
  padding: 0.5rem;
  border: 3px solid white;
}
.tarjeta:hover img{
  transition: 1s;
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
  filter: drop-shadow(0 0 10px #ffffff);
  opacity: 1;

}
.tarjeta:hover{
  background-color: #D89961;
  transition: 0.5s;
}
.tarjeta .descripcion{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 5px;
  width: 15vw;
  text-align: center;
  position: absolute;
  opacity: 0;
}
.tarjeta:hover .descripcion{
  opacity: 1;
  transition: 1s;

}

.nosotros {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1b1b1bb6;
  font-family: 'TheSeasons';
}

.nosotro h2{
  font-size: 300%;
  font-family: 'TheSeasons';
}

/* *footer*/

.contact {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-family: 'TheSeasons';
  color: white;
  background-color: #1b1b1bb6;
  height: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 3vh;
  margin-top: 2vh;
}
footer h2{
  font-size: 300%;
  font-weight: 100;
}
footer h3{
  font-weight: 100;
  align-items: center;
  justify-content: center;
}

footer p {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0px 0px 0px 0px;
}

.scrollTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #00000042;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.scrollTop::before {
  content: "\2191";
}

.scrollTop:hover {
  background-color: #000000;
}


.carousel-inner{
  height: 80vh;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {

  * {
    gap: 0%;
    margin: 0%;
  }
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    position: static;
    margin-top: 0;
    gap: 10px;
    padding: 10px;
  }

  header .Logo {
    transform: scale(.5);
    margin-left: -1%;
    margin-top: -50%; 
    margin-bottom: -50%; 
  }

  header nav {
    justify-content: initial;
    align-items: initial;
    gap: 10px;
    margin-top: 0px;
  }

  header nav a {
    margin-right: 0;
  }

  .inicio h1,
  .inicio .inicioAbajo,
  .inicio .texto {
    /* margin-left: 20px;
    margin-right: 20px; */
    text-align: center;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
    
  }
  
  .inicio h1{
    font-size: 40px;
    margin-top: 0%;
    margin-left: 17%;
  
  }

  .inicio .inicioAbajo {
    margin-top: 10%;
    font-size: 40px;
    margin-left: 27%;
  }
  
  .inicio .texto {
    font-size: 0px;

  }
  .inicio .img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .Comprar {
    position: relative;
    left: 80%;
    font-size: 15px;
  }

  .productosSection, .productosSection h2, .productosSection .titleBar, .titleClock, .titleClock p, .titleClock i {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
  }

  .productosSection h2 {
    font-size: 160%;
    margin-top: -10%;
    margin-bottom: 5%;

  }

  .tarjeta {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
  }

  .tarjeta h3, .tarjeta p, .tarjeta:hover, .tarjeta:hover img, .tarjeta .descripcion{
    width: 300px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .tarjeta button {
    width: 200px;
  }

  .tarjeta img {
    width: 100px;
  }

  .nosotro {
    font-size: 80%;
  }

  .carousel-inner{
    height: auto;
  }

  .contact {
    flex-direction: column;
    font-size: 80%;
    height: auto;
    text-align: center;
  }
  
  footer h2{
    font-size: 250%;
    margin-bottom: 0px;
    text-align: center;
  }

  footer h3 {
    font-size: 130%;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10px 0px 0px 0px
    }

  footer p {
    font-size: 60%;
    text-align: center;
    margin: 0px 0px 0px 0px
  }

}